body {
	background: url('Wall.jpg');
	width:100%;
	height:100%;

	margin:0;
}

.form_wrapper {
    padding: 6px;
   
    
    text-align: center;
    width: 350px;
    height: 750px;
    display: block;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    margin: 0 auto;
}
.thanks_wrapper {
	font-size:34px;
	
    text-align: center;
    padding: 6px;
    padding-top:85px;
    width: 350px;
    height: 250px;
    display: block;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    margin: 0 auto;
}
